@{
    ViewData["Title"] = "About - ";
}

<h3>About Us</h3>

<p>Welcome to Online English Cafe!</p>
<br/>
<p>
    We are a company based in Cambridge, UK, who want to empower you to improve your English skills from
    your own home.
 </p>
<ul>
    <li>We have free, written learning <a asp-controller="Resouces" asp-action="Index">resources</a></li>
    <li><a asp-controller="Proofreading" asp-action="Index">Proofreading</a> services</li>
    <li>
        And we aim soon to offer conversational and professional English
        <a asp-controller="OnlineLessons" asp-action="Index">Lessons</a>, conducted over Skype
    </li>
</ul>
<br/>
<p>If you need to get in touch with us, drop us a line at admin@onlineenglishcafe.com</p>
