<h2>Registration</h2>
<div class="col-md-6">
    <h4>Students</h4>
    <p>
        To register to be a student please click 
            <a asp-controller="Account" asp-action="StudentRegistration">here</a>
    </p>
</div>

<div class="col-md-6">
    <h4>Teachers</h4>
    <p>
        If you are interested in teaching with OnlineEnglishCafe, please click 
            <a asp-controller="Account" asp-action="TeacherRegistration">here</a> 
        to begin the registration process
    </p>
</div>