@model IEnumerable<OnlineEnglishCafe.Models.Teacher>

    @{
        ViewData["Title"] = "Online Lessons - ";
    }

    <h2>Online Lessons</h2>

    <p>Welcome to our homepage for online lessons</p>
    <p>
        We hope to have this feature available soon, in the meantime, check out our free
        <a asp-controller="Resources" asp-action="Index">resources</a> 
        or apply 
        <a asp-controller="Proofreading" asp-action="Apply">here</a> 
        to have your work proofread!
    </p>

<!--

    @*@*Creates a grid that will display relevant teacher details*@

    <div class="container">
    @*@for (var i = 0; i < Model.Count(); i++)
    {
        <div class="row">
            <div class="col-md-6">
                <p>model details</p>
            </div>
            @i++;
            <div class="col-md-6">
                <p>model +1 details</p>
            </div>
        </div>
    }
    </div>



    @*<div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Teacher one</p>
            </div>
            <div class="col-md-6">
                <p>Taecaher two</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Teacher three</p>
            </div>
            <div class="col-md-6">
                <p>Teacher four</p>
            </div>
        </div>
    </div>*@

    -->